.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
}

.gallery-item {
    list-style: none;
}

.gallery-image {
    width: 360px;
    height: 200px; 
    object-fit: cover;
    transition: transform 300ms ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.025);
}

.return-button {
    margin-left: 40px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
   color: rgba(68, 20, 34, 0.871);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.return-button:hover {
    color: rgb(28, 6, 222);
}